* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 1rem;
}

nav h1 img {
  width: 5vw;
  height: 5vw;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  padding: 0.5rem;
  font-size: 20px;
  color: #0EA0A8;
  text-decoration: none;
}

section.cover {
  width: 100%;
  height: calc(100% - 70px);
  overflow: hidden;
}

section.cover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100% - 70px);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

section.cover div h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
}

section.cover div input {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.815);
  cursor: pointer;
}

section.cover img {
  width: 1280px;
  margin-top: -70px;
  -o-object-fit: cover;
     object-fit: cover;
}

main h1 {
  margin: 0 auto;
  text-align: center;
}

main h1:first-child {
  padding-top: 2rem;
}

main h1:nth-child(2) {
  color: #0EA0A8;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

main section div img {
  width: 100%;
  border-radius: 50%;
}

main section div h2, main section div p {
  padding-top: 1rem;
  text-align: center;
}

main section div input {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #0EA0A8;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */