$fontColor: #0EA0A8;

@mixin title {
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    img{
        width: 5vw;
        height: 5vw;
    }
}
@mixin button($fontSize, $color, $backColor) {
    input{
        color: $color;
        text-align: center;
        font-size: $fontSize;
        padding: 0.5rem 2rem;
        margin: 1rem auto;
        border-radius: 10px;
        background-color: $backColor;
        cursor: pointer;
    }
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5{
    font-weight: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h1{
        @include title()
    }
    ul{
        display: flex;
        align-items: center;
        padding-right: 1rem;
        list-style-type: none;
        li{
            display: flex;
            a{
                padding: 0.5rem;
                font-size: 20px;
                color: $fontColor;
                text-decoration: none;
            }
        }
    }
}
section.cover{
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
    div{
        @include flexColumn();
        width: 100%;
        height: calc(100% - 70px);
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        h1{
            color: white;
            font-size: 2.5rem;
            text-align: center;
            font-weight: normal
        }
        @include button(
            1.5rem,
            white, 
            rgba(0, 255, 255, 0.815)
            );
    }
    img{
        width: 1280px;
        margin-top: -70px;
        object-fit: cover;
    }
}
main{
    h1{
        margin: 0 auto;
        text-align: center;
        &:first-child{
            padding-top: 2rem;
        }
        &:nth-child(2){
            color: $fontColor;
        }
    }
    section{
        display: flex;
        margin: 2rem 0;
        justify-content: space-evenly;
        div{
            @include flexColumn();
            align-items: center;
            width: 20%;
            img{
                width: 75%;
                border-radius: 50%;
            }
            h2, p{
                padding-top: 1rem;
                text-align: center;
            }
            @include button(1.5rem,white ,$fontColor);
            input{
                margin-bottom: 2rem;
            }
            &:nth-child(2), &:nth-child(3){
                input{
                    margin-top: 2.5rem;
                }
            }
        }
    }
}